@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    font-family: 'Montserrat', sans-serif;
}

html,body {
    margin: 0px;
    padding: 0px;
    height:100%;
    background-color: #14294b;
}
.form-forgot{
    top: +50px;
    position: relative;
    width: 400px;
    margin: auto;
    color: white;
}
.form-forgot h6{
    text-align: center;
}
.form-forgot button{
    width: 100%;
    background-color: #3dd4da;
    border-radius: 40px;
}
.form-forgot img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}