@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    font-family: 'Montserrat', sans-serif;
}
#main-dashboard{
    margin-top: 30px;
}
.card-header{
    background: white;
    color: #00a9b9;
    text-transform: uppercase;
    font-weight: bold;
}
.table thead{
    background: rgba(0, 209, 225, 0.46);
    color: #0261ed;
}
h6{
    color: #00a9b9;
    text-align: center;
    font-size: 12px;
}