<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div  id="token" style="display: none" th:text="${Authorization}"></div>
    <div class="container" id="main-dashboard">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        Kegiatan Bulan Ini
                    </div>
                    <div class="card-body">
                        <div class="row" id="kegiatan">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <br/>
                <div class="card">
                    <div class="card-header">
                        Jadwal 7 Hari
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Asset</th>
                                    <th scope="col">Tanggal</th>
                                    <th scope="col">Ditugaskan Oleh</th>
                                </tr>
                            </thead>
                            <tbody id="data7hari">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="display: none">
                <br/>
                <div class="card">
                    <div class="card-header">
                        Total Prosedur Per Bulan
                    </div>
                    <div class="card-body">
                        <canvas id="kegiatantahun" style="height: 200px;width: 100%"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/Chart.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>
</body>
</html>