<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lupa Password | Safety K3</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/forgot.css}"/>
</head>
<body>
<div class="container" id="main">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-forgot">
                <img th:src="@{/img/logo_safety.png}" width="200" align="center"/>
                <h6>RESET PASSWORD</h6>
                <form>
                    <div class="form-group">
                        <label for="password">Kata Sandi Baru</label>
                        <input type="hidden" th:value="${code}" id="code"/>
                        <input type="password" class="form-control" id="password" placeholder="Kata Sandi Baru"/>
                    </div>
                    <div class="form-group">
                        <label for="cpassword">Konfirmasi Kata Sandi</label>
                        <input type="password" class="form-control" id="cpassword" placeholder="Konfirmasi Kata Sandi"/>
                    </div>
                    <div class="form-group">
                        <button type="button" id="reset-password" class="btn btn-primary">Ganti Kata Sandi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/Chart.min.js}"></script>
<script th:src="@{/js/sweetalert.min.js}"></script>
<script th:src="@{/js/forgot.js}"></script>
</body>
</html>